<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>edit task</title>
</head>

<body>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">edit task</h3>
        </div>
        <div class="modal-body">
            <form name="form.edit">
                <div class="form-group">
                    <label for="title">title: </label>
                    <input id="title" type="text" name="Title" class="form-control" ng-model="data.editedTask.title">
                </div>
                <div class="form-group">
                    <label for="selectCategory">category: </label>
                    <select id="selectCategory" class="form-control" name="categoryList" ng-model="data.editedTask.category">
                    <option>meeting</option>
                    <option>reminder</option>
                    <option>shopping</option>
                    <option>home</option>
                    <option>job</option>
                    <option>learning</option>
                    <option>other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="selectPriority">priority:</label>
                    <select id="selectPriority" class="form-control" name="PriorityList" ng-model="data.editedTask.priority">
                    <option>Very low</option>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Very high</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="contentInput">content:</label>
                    <textarea class="form-control" type="text" rows="5" id="contentInput" ng-model="data.editedTask.content"></textarea>
                </div>

                <div class="form-group">
                    <label for="dateInput">date:</label>
                    <div class="input-group date">
                        <input id="dateInput" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.editedTask.date" is-open="opened"
                        />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-primary" data-ng-click="ok()">OK</button>
        </div>
    </div>
</body>

</html>