<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>edit task</title>
</head>

<body>
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">edit task</h3>
        </div>
        <div class="modal-body">
            <form name="form.edit">
                <div class="form-group" data-ng-class="{'has-error bg-danger' : form.edit.Title.$invalid}">
                    <label for="title">title: </label>
                    <input id="title" type="text" name="Title" class="form-control" ng-model="data.editedTask.title" data-ng-required="true">
                </div>
                <div class="form-group" data-ng-class="{'has-error bg-danger' : form.edit.categoryList.$invalid}">
                    <label for="selectCategory">category: </label>
                    <select id="selectCategory" class="form-control" name="categoryList" ng-model="data.editedTask.category" ng-options="opt for opt in categories"
                        data-ng-required="true">
                    </select>
                </div>

                <div class="form-group" data-ng-class="{'has-error bg-danger' : form.edit.PriorityList.$invalid}">
                    <label for="selectPriority">priority:</label>
                    <select id="selectPriority" class="form-control" name="PriorityList" ng-model="data.editedTask.priority" ng-options="opt for opt in priorities"
                        data-ng-required="true">
                    </select>
                </div>

                <div class="form-group" data-ng-class="{'has-error bg-danger' : form.edit.contentInput.$invalid}">
                    <label for="contentInput">content:</label>
                    <textarea name="contentInput" class="form-control" type="text" rows="5" id="contentInput" ng-model="data.editedTask.content"
                        data-ng-required="true"></textarea>
                </div>

                <div class="form-group" data-ng-class="{'has-error bg-danger' : form.edit.dateInput.$invalid}">
                    <label for="dateInput">date:</label>
                    <div class="input-group date">
                        <input id="dateInput" name="dateInput" type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="data.editedTask.date "
                            is-open="opened" data-ng-required="true" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-primary" data-ng-click="ok()" ng-disabled="form.edit.$invalid">OK</button>
        </div>
    </div>
</body>

</html>