<!DOCTYPE html>
<html>
<body>
<h2>Your task manager</h2>
<label for="searchExpression">search expression: </label>
<input type="text" id="searchExpression" ng-model="searchExpression">

<table class="table table-hover">
    <thead>
        <th>title</th>
        <th>category</th>
        <th>priority</th>
        <th>content</th>
        <th>date</th>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in data.tasks | filter:search">
            <td>{{item.title}}</td>
            <td>{{item.category}}</td>
            <td>{{item.priority}}</td>
            <td>{{item.content}}</td>
            <td>{{item.date}}</td>
        </tr>
    </tbody>
</table>
<button data-ng-click="addTask()" class="btn btn-default">Add new Task</button>
</body>
</html>